{% extends "base_generic.html" %}

{% block title %}
    <title>{{ hotel }}</title>
{% endblock title %}


{% block content %}
    <h3>{{ hotel }}</h3>
    <h4>{{ hotel.address }}</h4>
    {% if available_rooms.count > 0 %}
        <ul>
            {% for available_room in available_rooms %}
                <li>
                    Pokój nr.{{ available_room.roomNumber }} <a href={% url 'hotel room' available_room.pk %}>Zobacz</a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <h3>There is no available rooms in {{ hotel }}</h3>
    {% endif %}{% endblock content %}

